# Flask application settings
FLASK_APP=app.py
FLASK_ENV=development

# Database settings
DB_HOST=db
DB_PORT=3306
DB_NAME=<name>
DB_USER=<user>
DB_PASSWORD=<password>
DB_ROOT_PASSWORD=<password>

# MQTT broker settings
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883
MQTT_TOPIC_SUBSCRIBE=iot/+/data